/************************************************************************************
				*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*	
				*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*
				*.*.*															*.*.*
				*.*.*	Project Name: 	Tymah   		 						*.*.*
				*.*.*	Purpose:		Display System time in broswer		 	*.*.*
				*.*.*	Developed By:	Caleb Uche (Khaleb O'Brien)				*.*.*
				*.*.*															*.*.*
				*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*
				*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*
				************************************************************************************/

body {
	background:url('../assets/images/background.jpg') 0 0 no-repeat; /* background should be 1920x1415 */
	overflow-x:hidden;
    background-size: cover;
	font-family:'Roboto',Open Sans;
}
